Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a collection of data that is organized and stored in a way that allows easy access and retrieval of information. It is typically managed by a database management system (DBMS) which provides various functionalities for storing, organizing, and retrieving data.

SQL (Structured Query Language) and NoSQL (Not only SQL) are two different types of database management systems.

SQL databases are relational databases that store data in tables with predefined schemas. They use SQL for querying and manipulating data. SQL databases are good for complex queries and transactions, and are widely used in enterprise applications where data consistency and ACID (Atomicity, Consistency, Isolation, Durability) compliance are important. Examples of SQL databases include Oracle, MySQL, PostgreSQL, and SQL Server.

On the other hand, NoSQL databases are non-relational databases that do not use tables with fixed schemas to store data. They use various data models like key-value, document, graph, and column-family. NoSQL databases are designed for scalability, availability, and high performance, and are typically used in web and mobile applications where data is constantly changing and needs to be accessed quickly. Examples of NoSQL databases include MongoDB, Cassandra, Redis, and Couchbase.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a set of SQL commands used to define, modify, and manage the structure of database objects such as tables, indexes, views, and stored procedures.

The following are the commonly used DDL commands in SQL:

1. CREATE: This command is used to create new database objects such as tables, indexes, views, and stored procedures. 
2. DROP: This command is used to remove an existing database object such as a table, index, view, or stored procedure. 
3. ALTER: This command is used to modify the structure of an existing database object such as a table, index, view, or stored procedure. 
4. TRUNCATE: This command is used to delete all the rows from a table while keeping its structure intact.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a set of SQL commands used to manipulate the data stored in a database.

The following are the commonly used DML commands in SQL:

1.INSERT: This command is used to add new rows of data to a table.
2.UPDATE: This command is used to modify the existing data in a table. 
3.DELETE: This command is used to remove rows from a table.
DML commands are used to manipulate the data stored in a database. The INSERT command is used to add new rows of data to a table, the UPDATE command is used to modify existing data in a table, and the DELETE command is used to remove rows from a table.

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a set of SQL commands used to retrieve data from a database.

The most commonly used DQL command in SQL is SELECT. It is used to select data from one or more tables in a database.
We can also select specific columns by listing them in the SELECT statement instead of using the wildcard (*).

Q5. Explain Primary Key and Foreign Key.

In SQL, a primary key is a column or a set of columns that uniquely identifies each row in a table. A primary key constraint is used to ensure that the values in the primary key column(s) are unique and not null. Every table should have a primary key to uniquely identify the rows in the table.

A foreign key is a column or a set of columns in a table that refers to the primary key of another table. A foreign key constraint is used to ensure that the values in the foreign key column(s) match the values in the primary key column(s) of the other table. This relationship between two tables is known as a referential integrity constraint.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Connect to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a SQL query
mycursor.execute("SELECT * FROM customers")

# Fetch the results
results = mycursor.fetchall()

# Print the results
for result in results:
  print(result)

The `cursor()` method creates a cursor object that allows us to execute SQL queries and fetch the results. The cursor object maintains the state of the SQL query execution and allows us to fetch the results in a row-by-row manner.

The `execute()` method is used to execute a SQL query. The SQL query is passed as a parameter to the method. The method returns `None` if the query does not return any result, or it returns the number of affected rows for a data manipulation query like `INSERT`, `UPDATE`, or `DELETE`.

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

FROM: This clause specifies the table or tables from which the data will be selected.

1.`JOIN`: If the query involves a join between multiple tables, the join is performed next.

2.`WHERE`: This clause filters the rows based on the specified conditions.

3.`GROUP BY`: This clause groups the rows based on the specified columns.

4.`HAVING`: This clause filters the groups based on the specified conditions.

5.`SELECT`: This clause selects the columns to be returned in the result set.

6.`DISTINCT`: This clause removes duplicate rows from the result set.

7.`ORDER BY`: This clause sorts the rows in the result set based on the specified columns.

8.`LIMIT`: This clause limits the number of rows returned in the result set.

Note that not all SQL queries will have all these clauses, and the order of execution may vary based on the specific query. However, in general, this is the order in which the clauses are executed.